* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f7f9fb;
  color: #333;
}

header {
  background-color: #005f73;
  color: white;
  text-align: center;
  padding: 1rem;
}

nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 1rem;
}

nav ul li {
  margin: 0.5rem 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  text-decoration: underline;
  color: #94d2bd;
}

.container {
  max-width: 900px;
  margin: 2rem auto;
  background: white ;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  color: #0a9396;
  margin-bottom: 1rem;
  text-align: center;
}
p {
    text-align: center;
}

button {
  background-color: #0a9396;
  color: white;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  justify-content: center;

}


button:hover {
  background-color: #007f84;
}

.img-home {
  margin-top: 2rem;
  width: 100%;
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-cadastro{
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.img-adm{
  margin-top: 2rem;
  width: 100%;
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-telemed{
  margin-top: 2rem;
  width: 100%;
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-seg{
  margin-top: 2rem;
  width: 100%;
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #005f73;
  color: white;
  margin-top: 2rem;
}

.hidden {
  display: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.voltar {
  background-color: #ae2012;
  margin-bottom: 1rem;
}

.voltar:hover {
  background-color: #bb3e03;
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }
  .container {
    padding: 1rem;
  }
  .img-home {
    width: 90%;
  }
}
